
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.LaLoanApplicationLastNumber.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaLOAN.Setup.LaLoanApplicationLastNumberGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>