{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=TVLLAP20; Initial Catalog=ACC_Default_v1; User Id=sa; Password=sa1234;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "LoanDB",
            "ConnectionString": "Data Source=TVLLAP20; Initial Catalog=BEPZA_FDR; User Id=sa; Password=sa1234;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.LA_LoanIssue",
                    "Identifier": "LaLoanIssue",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_LoanCriteria",
                    "Identifier": "LaLoanCriteria",
                    "Module": "Setup",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_LoanType",
                    "Identifier": "LaLoanType",
                    "Module": "Setup",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_LoanEligibleInformation",
                    "Identifier": "LaLoanEligibleInformation",
                    "Module": "Setup",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_LoanApplication",
                    "Identifier": "NonRefundableFinalPayment",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_DonorInformation",
                    "Identifier": "LaDonorInformation",
                    "Module": "Setup",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_LoanCircularInformation",
                    "Identifier": "LaLoanCircularInformation",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_LoanOpening",
                    "Identifier": "LaLoanOpening",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_MonthlyLoanInstallment",
                    "Identifier": "LaMonthlyLoanInstallment",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_DonorLoan",
                    "Identifier": "LaDonorLoan",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_DonorLoanPayment",
                    "Identifier": "LaDonorLoanPayment",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_SalaryHead",
                    "Identifier": "PrmSalaryHead",
                    "Module": "Configurations",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_EmploymentType",
                    "Identifier": "PrmEmploymentType",
                    "Module": "Configurations",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_JobGrade",
                    "Identifier": "PrmJobGrade",
                    "Module": "Configurations",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_SalaryScale",
                    "Identifier": "PrmSalaryScale",
                    "Module": "Configurations",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.acc_Accounting_Period_Information",
                    "Identifier": "AccAccountingPeriodInformation",
                    "Module": "Configurations",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.APV_ApprovalStatus",
                    "Identifier": "ApvApprovalStatus",
                    "Module": "Configurations",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_LoanIssueDetail",
                    "Identifier": "LaLoanIssueDetail",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_CPF_CashOrChequeCollection",
                    "Identifier": "LaCpfCashOrChequeCollection",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_MonthlyLoanInstallmentDetail",
                    "Identifier": "LaMonthlyLoanInstallmentDetail",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.LA_LoanApplicationLastNumber",
                    "Identifier": "LaLoanApplicationLastNumber",
                    "Module": "Setup",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CPF_PFFundDataMigration",
                    "Identifier": "PfFundDataMigration",
                    "Module": "Task",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.PRM_EmpPhoto",
                    "Identifier": "EmpPhoto",
                    "Module": "HRM",
                    "ConnectionKey": "LoanDB",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\VistaLOAN\\VistaLOAN.Web\\VistaLOAN.Web.csproj",
    "RootNamespace": "VistaLOAN",
    "BaseRowClasses": [
        {
            "ClassName": "NRow",
            "Fields": [
                "createdUserDate",
                "createdUserId",
                "updatedUserDate",
                "updatedUserId"
            ]
        }
    ],
    "RemoveForeignFields": [
        "createdUserDate",
        "createdUserId",
        "updatedUserDate",
        "updatedUserId"
    ],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": true,
    "GenerateRow": true,
    "GenerateColumn": false,
    "GenerateForm": false,
    "GenerateEndpoint": false,
    "GenerateRepository": false,
    "GeneratePage": false,
    "GenerateGrid": false,
    "GenerateDialog": false,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": true,
    "MaximizableDialog": false
}