
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.LaLoanType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaLOAN.Setup.LaLoanTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>