
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Task.LaLoanApplication.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaLOAN.Task.LaLoanApplicationGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>