
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.LaLoanCriteria.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaLOAN.Setup.LaLoanCriteriaGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>