
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Task.LaLoanIssue.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new VistaLOAN.Task.LaLoanIssueGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>